<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each Question holds 10 points!</p>
    <h4>Rules:</h4>
    <ol>
        <li>
            <h5>Correct Questions gives you 10 points</h5>
        </li>
        <li>
            <h5>Incorrect Questions gives you -5 points</h5>
        </li>
        <li>
            <h5>You will have 60 sec to answer each question</h5>
        </li>
        <li>
            <h5>Refreshing the page with reset the Quiz!</h5>
        </li>
    </ol>
    <h1 emoji="" style="font-family:cursive;text-align:center">All the best!! 🙂</h1>


    <button class="btn btn-primary btn-lg" routerLink='/question' type="button">Start the Quiz!!</button>
</div>